<!DOCTYPE html>
<html>

<head>
    <title>WebSocket</title>
    <link rel="stylesheet" href="/css/style2.css">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
    <header>
        <h1>EJS-1 file</h1>
    </header>
        <img id="photo1" src="https://static.pexels.com/photos/46710/pexels-photo-46710.jpeg" alt="">;
    <div class="btn">
        <button id="btn1" >Click me!</button>
    </div>
    <script type="text/javascript" src="/js/client2.js"></script>

</body>

</html>