<!DOCTYPE html>
<html>

<head>
    <title>WebSocket</title>
    <link rel="stylesheet" href="/css/style2.css">
    <script src="https://safe-eyrie-36173.herokuapp.com/socket.io/socket.io.js"></script>
    
    
</head>
<body>
    <img id="photo1" src="/image/4-1-2.jpg" alt="">;
    <button id="btn_010202" class="color"></button>
    <button id="btn_010402" class="color"></button>
    <button id="btn_010602" class="color"></button>
    <button id="btn_020202" class="color"></button>
    <button id="btn_020302" class="color"></button>
    <button id="btn_040102" class="color"></button>
    
    <script type="text/javascript" src="/js/client2.js"></script>
</body>

</html>