<!DOCTYPE html>
<html>

<head>
    <title>WebSocket</title>
    <link rel="stylesheet" href="/css/style1.css">
    <script src="https://safe-eyrie-36173.herokuapp.com/socket.io/socket.io.js"></script>
    
</head>
<body>
    <img id="photo1" src="/image/4-1-1.jpg" alt="">;
    <div id="btnGroup" class="color">
        <button id="btn_1" class="btn color" ></button>
        <button id="btn_2" class="btn color" ></button>
        <button id="btn_3" class="btn color" ></button>
        <button id="btn_4" class="btn color" ></button>
    </div>
    <button id="btn_010301" class="color"></button>
    <button id="btn_010401" class="color"></button>
    <button id="btn_030101" class="color"></button>
    <script type="text/javascript" src="/js/client1.js"></script>

</body>

</html>