img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.color{
    /*border: 1px solid red;*/
}
#btnGroup{
    /*border: 1px solid red;*/
    position: absolute;
}
#btnGroup .btn{
    /*border: 1px solid yellow;*/
    display: block;
    height: 22.8%;
    width: 100%;
    background: none;
}
#btn_010301 {
    position: absolute;
    background: none;
    /*border: 1px solid red;*/
    border-radius: 30%;
    display: none;
}
#btn_010401 {
    position: absolute;
    background: none;
    /*border: 1px solid red;*/
    border-radius: 30%;
    display: none;
}
#btn_030101 {
    position: absolute;
    background: none;
    /*border: 1px solid red;*/
    border-radius: 50%;
    display: none;
}